.productCard {
  padding: 1em;
  padding-bottom: 1.5em;
  margin: 1em;
  box-shadow: 0 5px 20px rgb(88 88 88 / 20%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}

.productTitle {
  font-size: 1.3rem;
  color: #1d1e4b;
  text-align: left;
  margin: 1rem 0 0.5rem 0;
}

.price {
  font-size: 2rem;
  color: #e31c47;
  font-weight: 900;
}

.description {
  width: calc(100%);
  text-align: left;
  color: #757070;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-block: scroll;
  max-height: calc(40%);
}

.container {
  height: 245px;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: calc(65%);
}

.category {
  text-align: left;
  color: #ababab;
  font-size: 1.3rem;
  margin: 0;
  text-transform: capitalize;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}
